:root {
    --form-width:420px;
    @media (max-width:768px) {
        --form-width:320px;
    }
}
.login-component,.register-component,.forgot-component {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background:rgba(53, 53, 53, 0.46);
    min-height: 100vh;
    @media (max-width:768px) {
        height: 700px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    
}

.signin-component {
    display: grid;
    grid-template-rows: 80% 20%;
    padding: 10px;
    height: 80vh;
    width: var(--form-width);
    background: linear-gradient(203.57deg, rgba(50, 146, 255, 0.6) 15.19%, rgba(50, 146, 255, 0.016) 59.31%, rgba(50, 122, 255, 0) 60.49%), linear-gradient(258.98deg, rgba(50, 139, 255, 0.7) 3.19%, rgba(50, 181, 255, 0) 45.54%, rgba(255, 148, 50, 0) 45.54%), linear-gradient(5.03deg, rgba(50, 139, 255, 0.6) 1.55%, rgba(50, 139, 255, 0) 93.77%, rgba(50, 139, 255, 0) 93.77%);
    border-radius: 20px;
    font-family: 'Metal', cursive;
    @media (max-width:768px) {
        height: 550px;
        border-radius: 20px;
    }
    .login-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        // margin: 0;
        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 18px;
        }
    }
  
    form {
        align-self: center;
        justify-self: center;
        width: 100%;
        display:grid;
        height: 100%;
        .input-form {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 20% 50%;
            width: 100%;
            gap: 20px;
            .pass-input,.email-input {
                width: 100%;
            }
            .logo {
                align-self: center;
                justify-self: center;
                width: 30px;
                height: 30px;
                svg  {
                    width: 100%;
                    height: 100%;
                }
            }
            input {
                align-self: center;
                justify-self: center;
                width: 100%;
                background: none;
                border: none;
                outline: none;
                border-bottom: 1px solid #fff;
                padding: 5px;
                color: #fff;
                font-size: 15px;
                &::placeholder {
                    color: #fff;
                }
            }
        }
        .button-form {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 30% 50%;

            & > * {
                color: #fff;
            }
            .text {
                align-self: center;
                justify-self: center;
                font-size: 15px;
                border-bottom: 1px solid #fff;
            }
            button {
                margin: 0;
                align-self: center;
                justify-self: center;
                // width: 80px;
                height: 50px;
                padding: 10px 1.8vw;
                background: rgba(0, 0, 0, 0.46);
                border-radius: 50px;
                color: #fff;
                border: 0px;
                font-size: 15px;
                background:linear-gradient(rgba(0, 0, 0, 0.46) 50%,rgba(0, 132, 255, 0.5) 50%);
                background-size: 200% 200%;
                background-position: 0% 0%;
                transition: all 1s ease-in-out;
                &:hover {
                    color: #349eeb;
                    background-position: 200% 200%;
                }
            }
            &:hover {
                a {
                    color: #349eeb;
                }
            }
        }
        .button-form.slash {
            grid-template-columns: 50% 50%;
        }
    
    }
    .link-in-accounts {
        display: grid;
        gap: 10px;
        .button-links {
            align-content: center;
            justify-self: center;
            border: 0px;
            color: #fff;
            border-radius: 50px;
            font-size: 15px;
            padding: 10px 30px;
            width: 100%;
            background:linear-gradient(rgba(0, 0, 0, 0.46) 50%,rgba(0, 132, 255, 0.5) 50%);
            background-size: 200% 200%;
            background-position: 0% 0%;
            transition: all 1s ease-in-out;
            &:hover {
            color: #349eeb;
            background-position: 200% 200%;
            }
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        width: 100%;
        height: 100%;
    }
}



.forgot-component {
    .signin-component {
        height: 100%;
    }
    form {
        gap: 15px;
        .button-form {
            button {
                width: 100%;
            }
            .login {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
        .button-form.opener {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
